{namespace remobid.templates.test}

/**
 * @param modelData the rest Url of the Model.
 */
{template .modelDisplay}
<div class="{css rb-modelTest}" style="border:1px; height 30px; min-width:30px">
  <span class="{css rb-modelTest-href}"
        data-rb-bind-get="href,html,1,0|id,tglClass:color,1,0"
        >{$modelData['href']}</span>
</div>
{/template}

/**
 * @param modelData the rest Url of the Model
 */
{template .modelForm}
<div class="{css rb-form}">
  <input type="text" value="{$modelData['href']}"
         data-rb-set="href"/>
</div>
{/template}


/**
template binding syntax

Getter
------
e.g. :
data-rb-bind-get="href,html,1,0|id,tglClass:rb-mark,0,1"

seperat arguments with , and use | as a seperator for multiple getter

[name of the model attribute]
[type which defines the update function (html | text | tglClass:* | chAttr:* | control)]
opt [flog: use the helper function (1:true | 0:false) default: (0)]
opt [flag: externally changed -> mark parent (1) or it self (0) default: (0)]
opt [class name which is used to indicate external changes defaults to {controlBase}-extUpdate]

Setter
------

seperat arguments with ,

data-rb-bind-set="href"
[name of the model attribute]
opt [class name which is used to indicate external changes defaults to {controlBase}-extUpdate]
*/